* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'PT Serif', serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
:root {
    --main-color: ;
    --span-color: rgb(184, 46, 46);
    --hover-color: rgb(242, 136, 136);
    --big-font: 4.5rem;
    --h1-font: 3.8rem;
    --p-font: 1.2rem;
    --text-font: 1.7rem;
    --p-color: gray;
}
body {
    color: #fff;
}
.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .8)), url('https://media.istockphoto.com/photos/young-man-checking-time-on-his-elegant-wristwatch-picture-id1135934992?k=20&m=1135934992&s=612x612&w=0&h=P-WrmfsorZiXfh4-rZuRv6kTFOJJVjrka-4L23HWwZE=');
    background-size: cover;
    background-position: center;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5% 8%;
    text-align: center;
}
.logo {
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-size: 900;
}
span {
    color: var(--span-color);
}
#menu-icon {
    font-size: var(--text-font);
    display: none;
}
.navbar li {
    display: inline-block;
    padding: 0px 20px;
}
.navbar li:after {
    content: '';
    width: 0%;
    height: 3px;
    display: block;
    margin: auto;
    bottom: 0;
    background-color: var(--hover-color);
    transition: all .4s;
}
.navbar li:hover:after {
    width: 100%;
}
.navbar a {
    font-size: var(--text-font);
    color: #fff;
}
.content {
    padding: 0 8%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 2rem;
    align-items: center;
}
.content-img img {
    width: 600px;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}
.content-text h3 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: var(--p-color);
}
.content-text h1 {
    font-size: var(--h1-font);
    padding-bottom: 20px;
}
.content-text p {
    font-size: var(--p-font);
    color: var(--p-color);
    letter-spacing: 2px;
}